$color-primary: #00284F;
$color-secondary: #00284F66;
$color-accent: #FF8D06;

$color-background-menu: #FFFFFF;
$color-background-primary: #F9F9F9;
$color-background-secondary: #F2F2F2;
$color-background-modal: #EDEDED80;
