@import "@/styles/utils/mixins.scss";
@import "@/styles/utils/variables.scss";

%background-images {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

%max-width-wrapper {
  margin: 0 auto;

  @include onDesktop() {
    max-width: 1440px;
  }
}

%header-icons {
  // width: $icon-width-mobile;
  height: $icon-height-mobile;

  @include onDesktop() {
    // width: $icon-width-desk;
    height: $icon-height-desk;
  }
}