$icon-width-mobile: 19px;
$icon-height-mobile: 19px;
$icon-width-desk: 31px;
$icon-height-desk: 31px;

$padding-content-mobile: 35px;

$product-card-width-mobile: 120px;
$product-card-width-desk: 230px;
$product-card-gap-mobile: 24px;
$product-card-gap-desk: 53px;

$header-gap-mobile: 20px;
$header-gap-desk: 38px;

$loader-size-x: 48px;

$desk-breakpoint: 1024px;
$small-screen-breakpoint: 413px;
