$icon-width-mobile: 17px;
$icon-height-mobile: 17px;
$icon-width-desk: 27px;
$icon-height-desk: 27px;

$padding-content-mobile: 35px;

$product-card-width-mobile: 120px;
$product-card-width-desk: 230px;

$loader-size-x: 48px;

$desk-breakpoint: 1440px;
